
<footer class="fixed-bottom" style="text-align:center;background-color:#7793a7;min-height:71px;">
    <div style="display:block;color:#dae0e5">&copy;@DateTime.Now.Year XXXX保留所有权利</div>
    <div style="display: block;">
        <ul style="list-style:none">
            <li style="display:inline;float:none;margin-left:20px">
                友情连接：
            </li>
            <li style="display:inline;float:none;margin-left:20px;">
                <a href="https://www.cnblogs.com/" style="color:#081b2c">博客园</a>
            </li>

            <li style="display:inline;float:none;margin-left:20px;">
                <a href="https://www.aliyun.com/" style="color:#081b2c">阿里云</a>
            </li>

            <li style="display:inline;float:none;margin-left:20px;">
                <a href="https://www.taobao.com/" style="color:#081b2c">淘宝商城</a>
            </li>
            <li style="display:inline;float:none;margin-left:20px;">
                <a href="https://www.jd.com/" style="color:#081b2c">京东商城</a>
            </li>
        </ul>
    </div>
</footer>


